@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour+Convergence&display=swap');

.sixtyfour-convergence {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-size: 5.3rem;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #11838f;
}



.main-container {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
}

.action-title {
  font-family: 'Jersey 20', sans-serif;
  font-size: 30px !important;
  color:#db2a0a
}

.character {
  margin: 2rem 0;
}

.status-bar {
  margin: 1rem 0;
}

.character-image {
  width: 360px;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

.character p {
  font-size: 1.2rem;
  font-weight: bold;
}
.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.feed-btn {
 width: 4rem;
 height: 4rem;
 background: none;
 border: none;
 cursor: pointer;
 padding: 0;
}

.feed-icon {
  width: 6rem; 
  height: 6rem;
  object-fit: contain;
}

.hand-btn {
  width: 4rem;
  height: 4rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hand-icon {
  width: 8rem; 
  height: 8rem;
  object-fit: contain;
}

.bathe-btn {
  width: 5rem;
  height: 5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bathe-icon {
  width: 8rem; 
  height: 7rem;
  object-fit: contain;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.tooltip-text {
  font-family: 'Jersey 20', sans-serif;
  font-size: 17px !important;
  visibility: hidden;
  width: max-content;
  background-color: #cc2900;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}