@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour+Convergence&display=swap');

.sixtyfour-convergence {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-size: 4rem;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
}

body {
  min-height: 90vh;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #11838f;
}


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.action-title {
  font-family: 'Jersey 20', sans-serif;
  font-size: 36px !important;
  color:#cc4b34;
  text-shadow: 2px 2px 0 #ff1100, 4px 4px 0 #f28f8f;
  letter-spacing: 2.7px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.character {
  margin: 2.6rem 0;
}

.character-image {
  width: 360px;
  max-width: 600px;
  height: auto;
  object-fit: contain;
}

.character p {
  font-size: 1.2rem;
  font-weight: bold;
}
.action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.7rem;
}

.feed-btn {
 width: 4rem;
 height: 4rem;
 background: none;
 border: none;
 cursor: pointer;
 padding: 0;
}

.feed-icon {
  width: 6rem; 
  height: 6rem;
  object-fit: contain;
}

.hand-btn {
  width: 4rem;
  height: 4rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hand-icon {
  width: 8rem; 
  height: 8rem;
  object-fit: contain;
}

.bathe-btn {
  width: 5rem;
  height: 5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bathe-icon {
  width: 8rem; 
  height: 7rem;
  object-fit: contain;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.tooltip-text {
  font-family: 'Jersey 20', sans-serif;
  font-size: 17px !important;
  visibility: hidden;
  width: max-content;
  background-color: #cc2900;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.note-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.note-icon {
  width: 60px;
  height: 50px;
  transition: filter 0.3s ease, transform 0.2s ease;
  filter: grayscale(100%) opacity(0.6);
}

.note-button:hover .note-icon {
  transform: scale(1.1);
}

.note-button.playing .note-icon {
  filter: none; 
}

/* small devices */
@media (max-width: 600px) {
  .sixtyfour-convergence {
    font-size: 2rem; 
    color:#cc2900;
  }


  .main-container {
    gap: 0.5rem;
    flex-direction: column; 
  }

  .action-title {
    font-size: 2rem; 
  }

  .character-image {
    width: 80%;
    max-width: 300px; 
  }

  .action-buttons {
    flex-direction: row;
    gap: 1.5rem; 
  }

  .feed-icon,
  .hand-icon,
  .bathe-icon {
    width: 5rem; 
    height: 7rem;
  }
}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .sixtyfour-convergence {
    font-size: 5rem; 
    color: #cc2900; 
  }

  .main-container {
    gap: 1rem; 
    flex-direction: column; 
  }

  .action-title {
    font-size: 2.5rem; 
  }

  .character-image {
    width: 90%; 
    max-width: 350px; 
  }

  .action-buttons {
    flex-direction: row; 
    gap: 2rem; 
  }

  .feed-icon,
  .hand-icon,
  .bathe-icon {
    width: 6rem; 
    height: 8rem;
  }
}